<footer>
    <div class="f-info">
        <div class="socials">
            <a href="/facebook"><i class="fa-brands fa-facebook-messenger"></i></a>
            <a href="https://x.com/tilokdutta1234"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/tilok_dutta__/"><i class="fa-brands fa-square-instagram"></i></a>
            <!-- <a href="#"><i class="fa fa-vk"></i></a> -->
        </div>
        <div class="brand">&copy; WanderLust Private Limited</div>
        <div class="links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>