<% layout("/layouts/boilerplate") %>
<div class="row mt-4">
    <div class="alert alert-danger col-4 offset-4" role="alert">
        <h3> StatusCode : <%= statusCode %></h3>
        <p><%= message %></p>
    </div>
</div>
